{% extends "base.html" %} {% block content %}
<h1>Add your delicious recipe here</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}<br />
    {{ form.name(size=62) }}<br />
    {% for error in form.name.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br />
    {{ form.description(cals=32, rows=4) }}<br />
  </p>
  <p>
    {{ form.servings.label }}<br />
    {{ form.servings }}<br />
  </p>
  <p>
    {{ form.cook_time.label }}<br />
    {{ form.cook_time }} mins.<br />
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
