{% extends "base.html" %} {% block content %}
<h1>Add your delicious recipe here</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.recipe_name.label }}<br />
    {{ form.recipe_name(size=62) }}<br />
    {% for error in form.recipe_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br />
    {{ form.description(cals=32, rows=4) }}<br />
  </p>
  <p>
    {{ form.cook_time.label }}<br />
    {{ form.cook_time }} mins.<br />
  </p>
  <p>
    {{ form.start_day_before() }} {{ form.start_day_before.label }}
  </p>
  <p>
    {{ form.lunchbox() }} {{ form.lunchbox.label }}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
